<div class="d-flex" id="wrapper">
    <ng-template ngxPermissionsOnly="admin">
        <div id="sidebar-wrapper">
            <div class="sidebar-heading">KP's Shop</div>
            <div class="list-group list-group-flush">
                <a href="" class="list-group-item" routerLink="home">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
                <a href="" class="list-group-item" routerLink="user">
                    <i class="fas fa-users"></i> Users
                </a>
                <a href="" class="list-group-item" routerLink="profile">
                    <i class="fas fa-user"></i> Profile
                </a>
                <a href="" class="list-group-item" routerLink="cart">
                    <i class="fas fa-shopping-cart"></i> Cart
                </a>
                <a href="" class="list-group-item" routerLink="product">
                    <i class="fas fa-box"></i> Products
                </a>
                <button class="list-group-item btn btn-outline-danger my-sm-0 ml-auto me-2" type="button"
                    (click)="logOut()"> <i class="fas fa-sign-out-alt"></i> Logout</button>
            </div>
        </div>
    </ng-template>
    <div id="page-content-wrapper">


        <ng-template ngxPermissionsOnly="user">
            <nav class="navbar navbar-expand-lg border-bottom">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="" routerLink="home">Home</a>
                        </li>
                        <li class="nav-item" routerLink="profile">
                            <a class="nav-link" href="">Profile</a>
                        </li>
                        <li class="nav-item" routerLink="product">
                            <a class="nav-link">Product</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <button class="btn btn-outline-danger my-sm-0 ml-auto me-2" type="button"
                                (click)="logOut()">Logout</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </ng-template>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>